.pageContainer {
  position: absolute;
  background-color: #dddddd;

  &.dark-mode {
    background-color: #bababa;
  }
  &.texture-on {
    background-image: url("../../../assets/texture.svg");
  }
}

#disclaimerConsent {
  display: block;
}

.inputTextChatbot {
  height: calc(100% - 4px);
}

.tool-bar {
  display: flex;
  align-items: center;
  .open-full-screen,
  .close-full-screen,
  .close-chat,
  .menu-icon {
    vertical-align: inherit;
    border-style: inherit;
    margin-left: 5px;
    width: 14px;
    height: 14px;
    margin-right: 5px;
    cursor: pointer;
  }
  .close-chat {
    width: 12px;
    height: 12px;
  }
  .menu-icon {
    width: 20px;
    height: 20px;
  }
  .restart-button{
    cursor: pointer;
  }
}

.menu-bar {
  background-color: #dddddd;
  height: 0;
  visibility: hidden;
  position: absolute;
  width: 100%;
  display: flex;
  left: 0px;
  top: 42px;
  box-shadow: -2px 0 5px 3px rgba(0, 0, 0, 0.4);
  right: 0px;
  transition: all 0.4s ease-out;
  z-index: 999;
  overflow: hidden;

  img {
    width: 28px;
    margin-left: 12px;
    cursor: pointer;

    &.save-pdf {
      width: 33px;
    }
    &.feedback {
      width: 33px;
      margin-top: 7px;
    }
  }
  &.show {
    height: 40px !important;
    visibility: visible;
  }
}
footer {
  background-color: transparent;
}
