<div
  class="pageContainer"
  id="pageContainer"
  [ngClass]="{
    'dark-mode': darkMode,
    'texture-on': textureOn
  }"
  (window:resize)="scrollToChatBottom()"
>
  <header *ngIf="!mobileWidget" class="toolBar">
    <div class="header">
      <span class="headline" translate="">{{ "chat.title" | translate }}</span>
      <span class="green_dot"></span>
    </div>

    <div class="tool-bar">
      <img class="restart-button" 
            (click)="restart()" 
            src="./assets/restart.svg" 
            alt="restart conversation"
            title="Restart the chat" />
      <img
        alt="open menu"
        class="menu-icon"
        src="./assets/menu.svg"
        (click)="showMenuBar = !showMenuBar"
      />
      <img
        alt="open in full screen mode"
        class="open-full-screen"
        id="open-fullscreen"
        src="./assets/openfullscreen.svg"
        (click)="changeWindowStateTo('fullscreen')"
        *ngIf="windowState === 'boxed'"
      />
      <img
        class="close-full-screen"
        id="close-fullscreen"
        alt="close full screen mode"
        src="./assets/closefullscreen.svg"
        (click)="changeWindowStateTo('boxed')"
        *ngIf="windowState === 'fullscreen'"
      />
      <img
        alt="close chat"
        class="close-chat"
        id="close-chat"
        src="./assets/close.svg"
        (click)="changeWindowStateTo('closed')"
      />
    </div>
  </header>
  <div class="menu-bar" [class.show]="showMenuBar">
    <img
      title="Enable texture in the background"
      alt="close full screen mode"
      src="./assets/texture-on.svg"
      (click)="textureOn = true"
      *ngIf="!textureOn"
    />
    <img
      title="Disable texture in the background"
      alt="close full screen mode"
      src="./assets/texture-off.svg"
      (click)="textureOn = false"
      *ngIf="textureOn"
    />
    <img
      title="Change background theme to dark"
      alt="close full screen mode"
      src="./assets/light.svg"
      (click)="darkMode = true"
      *ngIf="!darkMode"
    />
    <img
      title="Change background theme to light"
      alt="close full screen mode"
      src="./assets/dark.svg"
      (click)="darkMode = false"
      *ngIf="darkMode"
    />
    <img
      title="Create pdf print of chat transcript"
      alt="save file to pdf"
      src="./assets/savePDF.svg"
      (click)="printPDF()"
      class="save-pdf"
    />
  
    <img title="Feedback" 
    alt="Feedback" 
    (click)="openSupport()"
    src="./assets/feedback.svg" 
    class="feedback" />
    
  </div>
  <main id="scrollingChat" class="chat" #chat>
    <app-message
      #message
      *ngFor="let message of messages; last as isLast; first as isFirst"
      [message]="message"
      [isLast]="isLast"
      [isFirst]="isFirst"
      (contentChanged)="scrollToChatBottom(true)"
    >
    </app-message>
    <ng-container *ngIf="state === 'recording' && transcript">
      <div class="segments load">
        <div class="from-user top">
          <div class="empty">&nbsp;</div>
          <div class="message-inner-v2">
            <p [innerHTML]="transcript"></p>
          </div>
        </div>
      </div>
    </ng-container>
    <div id="typing-indicator" *ngIf="showTypingIndicator">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </main>
  <footer *ngIf="!mobileWidget" class="interactionBar">
    <app-speech-output
      [ssml]="ssmlFromMessages"
      (state)="changeState($event)"
      [autoPlay]="true"
      [disabled]="state === 'recording' || showTypingIndicator"
      *ngIf="speechOutput"
    ></app-speech-output>
    <div class="inputSection">
      <div class="questionInput" tabindex="1">
        <input
          tabindex="1"
          class="inputTextChatbot"
          [alt]="'chat.input_text_alt' | translate"
          id="textInputOne"
          [placeholder]="'chat.input_text' | translate"
          type="text"
          [value]="chatInputText"
          [disabled]="state === 'recording' || state === 'speaking'"
          (input)="onChatInputTextChange($event)"
          (keydown.enter)="onSendChatText($event)"
          autocomplete="off"
        />
      </div>
      <div class="sendQuestionButton" (click)="onSendChatText($event)">
        <img
          class="sendQuestionArrow"
          src="./assets/arrow.png"
          [title]="'chat.send_button_alt' | translate"
        />
      </div>
    </div>
    <app-speech-input
      (state)="changeState($event)"
      (transcript)="displayMessage($event)"
      [disabled]="state === 'speaking' || showTypingIndicator"
      *ngIf="speechInput"
    ></app-speech-input>
  </footer>
</div>
<div id="disclaimerConsent" tabindex="2" *ngIf="showDisclaimer" @fadeOut>
  {{ "disclaimer.prefix" | translate
  }}<a class="linkInside" target="_blank" href="#">{{
    "disclaimer.policy_name" | translate
  }}</a
  >{{ "disclaimer.suffix" | translate }}
  <a
    tabindex="0"
    id="buttonOKid"
    class="buttonOK"
    (click)="onDismissDisclaimer()"
  >
    {{ "disclaimer.accept" | translate | uppercase }}
  </a>
</div>
