:host {
  display: flex;
  align-items: center;
  padding: 0 0.5em;
}

.speechOutput {
  min-width: 36px;
  display: flex;
  justify-content: center;

  fa-icon:hover {
    cursor: pointer;
  }

  .disabled {
    color: grey;

    :hover {
      cursor: not-allowed;
    }
  }

  fa-icon:focus {
    outline: none;
  }
}
