<ng-container *ngIf="enabled && available && supported">
  <div class="speechOutput" (click)="toggleSpeaking()">
    <div class="idle" *ngIf="!disabled && !isSpeaking">
      <fa-icon [icon]="faVolumeUp" size="2x"></fa-icon>
    </div>
    <div class="speaking" *ngIf="!disabled && isSpeaking">
      <fa-icon [icon]="faVolumeOff" size="2x"></fa-icon>
    </div>
    <div class="disabled" *ngIf="disabled">
      <fa-icon [icon]="faVolumeUp" size="2x"></fa-icon>
    </div>
  </div>
</ng-container>
