<ng-container *ngIf="enabled && available && supported">
  <div class="speechInput" (click)="toggleRecording()">
    <div class="idle" *ngIf="!disabled && !isRecording">
      <fa-icon class="fa-microphone" [icon]="faMicrophone" size="2x"></fa-icon>
    </div>
    <div class="listening" *ngIf="!disabled && isRecording">
      <fa-icon class="fa-microphone-slash" [icon]="faMicrophoneSlash" size="2x"></fa-icon>
      <fa-icon class="fa-microphone" [icon]="faMicrophone" size="2x"></fa-icon>
    </div>
    <div class="disabled" *ngIf="disabled">
      <fa-icon class="fa-microphone" [icon]="faMicrophone" size="2x"></fa-icon>
    </div>
  </div>
</ng-container>
