:host {
  display: flex;
  align-items: center;
  padding: 0 0.5em;
}

.speechInput {
  min-width: 36px;
  display: flex;
  justify-content: center;

  fa-icon {
    cursor: pointer;
  }

  .idle fa-icon:hover {
    color: red;
  }

  .listening {
    .fa-microphone-slash {
      display: none;
    }
    .fa-microphone {
      display: block
    }
    fa-icon {
      color: red
    }
  }

  .listening:hover {
    .fa-microphone-slash {
      display: block;
    }
    .fa-microphone {
      display: none
    }
    fa-icon {
      color: black
    }
  }

  .disabled {
    color: grey;

    :hover {
      cursor: not-allowed;
    }
  }

  fa-icon:focus {
    outline: none;
  }
}
