img {
  display: none !important;
}
#scrollingChat {
  display: block !important;
  width: 1000px !important;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.logoCompanyFullscreen {
  position: absolute;
  right: 9em;
  top: 1.5em;
  width: 10em;
  background: #ffffff;
  padding: 0.5em;
  z-index: 99;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.05);
}
.logoCompanyFullscreen img {
  width: 10em;
}
@media only screen and (max-width: 700px) {
  .logoCompanyFullscreen {
    display: none;
  }
}
body {
  font: 100% Arial, Helvetica, sans-serif;
  color: #007aa8;
  line-height: 1.4em;
  font-weight: 300;
  font-size: 1em;
}
b {
  font-weight: bold;
}
a {
  color: #004b76;
  text-decoration: underline;
}
ul {
  list-style: disc;
  margin-left: 2em;
}
.pageContainer {
  height: 100%;
  width: 100% !important;
  display: block;
  flex-direction: column;
  flex-wrap: nowrap;
}
.toolBar {
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  color: #000000;
  background: #ffffff;
  font-size: 1em;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 2px solid #ffffff;
}
.header {
  display: flex;
  align-items: baseline;
}
.headline {
  margin-right: 0.2em;
  font-weight: bold;
}
.minilogo {
  height: 20px;
  width: 30px;
  float: left;
  margin-right: 7px;
}
.skip-link {
  text-decoration: none;
  color: #000000;
}
.printButton {
  margin-left: 1.2em;
  margin-right: 95px;
  cursor: pointer;
}
.chat {
  display: block !important;
  width: 100% !important;
  color: #111314;
}
.interactionBar {
  display: flex;
  padding: 0.5em;
}
.inputSection {
  flex-shrink: 0;
  flex-grow: 1;
  display: flex;
  height: 3em;
  padding: 0 0.5em;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.questionInput {
  flex: auto;
}
.questionInput input {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  background: #ffffff;
  border: none;
  font-size: 1em;
  /* font-weight: 100;  */
  border-radius: 10px 0px 0px 10px;
  border: 1px solid #9e9ea1;
  border-right: 0px solid;
}
.questionInput input:focus {
  outline: none !important;
}
.sendQuestionButton {
  background: #ffffff;
  color: #000000;
  /* padding-left: 1em; */
  cursor: pointer;
  width: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 10px 10px 0px;
  border: 1px solid #9e9ea1;
  border-left: 0px solid;
}
.green_dot {
  height: 8px;
  width: 8px;
  background-color: #7ed321;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  right: -3px;
  top: -1px;
}
.sendQuestionArrow {
  background: #ffffff;
  color: #000000;
  cursor: pointer;
  width: 1.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}
#disclaimerConsent {
  background-color: rgba(20, 20, 20, 0.8);
  font-size: 0.9em;
  color: #ffffff;
  text-align: justify;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3em;
  line-height: 1.5em;
  display: none;
  z-index: 9999;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
}
#disclaimerConsent a.buttonOK {
  margin-top: 1em;
  background-color: #ffffff;
  color: #007aa8;
  text-decoration: none;
  display: inline-block;
  border-radius: 0.2em;
  padding: 0.5em 1em;
  cursor: pointer;
  float: right;
}
a.linkInside {
  color: #ffffff;
  text-decoration: underline;
}
@media only screen and (max-device-width: 640px) {
  #disclaimerConsent {
    font-size: 0.8em;
    padding: 1em;
  }
}
.logoCompanyFullscreen {
  position: absolute;
  right: 9em;
  top: 1.5em;
  width: 10em;
  background: #ffffff;
  padding: 0.5em;
  z-index: 99;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.05);
}
.logoCompanyFullscreen img {
  width: 10em;
}
@media only screen and (max-width: 700px) {
  .logoCompanyFullscreen {
    display: none;
  }
}
#typing-indicator {
  background-color: #e6e7ed;
  width: auto;
  border-radius: 50px;
  padding: 8px;
  display: table;
  margin-left: 10px;
  margin-top: 10px;
  position: relative;
  animation: 2s bulge infinite ease-out;
}
#typing-indicator span {
  height: 8px;
  width: 8px;
  float: left;
  margin: 0 1px;
  background-color: #9e9ea1;
  display: block;
  border-radius: 50%;
  opacity: 0.4;
}
#typing-indicator span:nth-of-type(1) {
  animation: 1s blink infinite 0.3333s;
}
#typing-indicator span:nth-of-type(2) {
  animation: 1s blink infinite 0.6666s;
}
#typing-indicator span:nth-of-type(3) {
  animation: 1s blink infinite 0.9999s;
}
@keyframes blink {
  50% {
    opacity: 1;
  }
}
@keyframes bulge {
  50% {
    transform: scale(1.05);
  }
}
.load .message-inner {
  opacity: 1;
  margin-top: 0.3125rem;
}
.botSummary {
  display: none !important;
}
.botSummary img,
img {
  align-self: center;
  display: none !important;
}
.empty {
  padding: 5px;
}

.message-inner-v2 img {
  margin-top: 1em;
  width: 100%;
}
.from-user {
  display: flex;
  flex-direction: column;
}
.from-user .message-inner-v2 {
  margin-right: 0.5em;
  margin-top: 1em;
  color: #ffffff;
  background: whitesmoke;
  text-align: right;
  align-self: flex-end;
  min-width: 30px;
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
  position: relative;
  border-width: 1px;
  border-style: solid;
  border-color: #00a3e0;
  background: #00a3e0;
}
.from-user .message-inner-v2:before {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: #00a3e0 transparent;
  display: block;
  width: 0;
  z-index: 0;
  border-width: 0 10px 10px 0;
  right: -11px;
  bottom: 10px;
}
.from-user .message-inner-v2:after {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: #00a3e0 transparent;
  display: block;
  width: 0;
  z-index: 1;
  border-width: 0 10px 10px 0;
  right: -6px;
  bottom: 12px;
}
.from-watson .message-inner-v2 {
  position: relative;
  font-size: 1.2em;
  margin-top: 1em;
  margin-left: 3.7em;
  margin-bottom: 2em;
}
.from-watson .message-inner-v2:after {
  display: none;
}
.from-watson .message-inner-v2::before {
  display: none;
}
.feedback-div {
  padding: 0.5em;
  color: #737272;
  font-size: 0.85em;
  display: flex;
  align-items: baseline;
}
.thumbs-menu {
  display: flex;
  width: 4em;
  justify-content: space-around;
  margin-left: 1em;
}
.thumbsup-img-div:hover {
  color: #007aa8;
}
.thumbsdown-img-div:hover {
  color: #007aa8;
}
.buttonsChat {
  margin-top: 2em;
}
@media only screen and (max-width: 700px) {
  .buttonsChat {
    flex-direction: column;
  }

  button.multioption {
    margin: 0 1em 1em 1em;
  }
}
.multioption {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  border-radius: 7px;
  display: inline-block;
  cursor: pointer;
  color: #007aa8;
  font-size: 1.2em;
  padding: 0.5em 0.8em;
  text-decoration: none;
  margin: 0 1em 1em 1em;
  border: 1px solid #007aa8;
}
.multioption:hover {
  color: #fff;
  background-color: #007aa8;
  border-color: #007aa8;
}
.singleResponseFeedback {
  padding-bottom: 1.3em;
}
.summaryText {
  font-weight: bold;
}
.longtailResults {
  display: flex;
  flex-direction: column;
}
.longTextBox {
  margin-left: 0.5em;
  position: relative;
  margin-top: 0.5em;
  padding: 0.5em;
  background: #ffffff;
  border-radius: 11px;
  border: #004b76 solid 1px;
}
.longTextBoxBody.toggleParagraph {
  height: 5.6em;
  overflow: hidden;
}
.longTextBoxHeader {
  display: flex;
}
.longTextBoxWrapper {
  flex: auto;
}
.longTextBoxTitle {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #0071ad;
}
.longTextBoxSubtitle {
  font-family: Arial, Helvetica, sans-serif;
  color: #737272;
  margin-top: 0.3em;
  font-size: 0.9em;
}
.longTextBoxBody {
  margin-top: 1em;
}
.longTextBoxBody img {
  max-width: 100%;
  max-height: 100%;
}
.boxLink {
  color: #004b76;
  text-decoration: none;
  cursor: pointer;
}
.boxLinkWrapper {
  text-align: right;
  padding-right: 1em;
}
.negativeFeedbackBox {
  margin-top: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 1em;
}
.hidden {
  display: none;
}
.negativeTitle {
  font-weight: 450;
  color: #007aa8;
}
.checkBoxes {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  display: flex;
  flex-direction: column;
}
.checkBoxes label {
  display: flex;
  align-items: center;
  line-height: 1.6em;
}
.checkBoxes input {
  margin-right: 0.5em;
}
.negativeFeedbackInput {
  display: flex;
  height: 3em;
}
.inputField {
  flex: auto;
}
.pageContainer {
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: fixed;
}
app-message {
  display: block !important;
}
.empty {
  display: none !important;
}
.feedback {
  width: 35px;
  margin-right: 0.5em;
  margin-left: 0.5em;
  font-size: 0.9em;
}
.feedbackIcons {
  display: flex;
  color: #737272;
}
