.cancel-button {
  background-color: transparent;
  border: none;
  color: rgb(187, 0, 0);
  padding: 4px 4px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  float: right;
}
.custom-select {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
}
.select-items div,
.select-selected {
  color: #ffffff;
  padding: 4px 16px;
  border: 1px solid #007aa8;
  cursor: pointer;
  user-select: none;
}
.custom-select select {
  color: #ffffff;
  padding: 4px 16px;
  border: 1px solid #007aa8;
  cursor: pointer;
  user-select: none;
  background-color: #007aa8;
  border-radius: 6px;
  width: 100%;
  padding: 0.4em 0.5em;
  margin-bottom: 10px;
}
.form-textarea {
  height: 120px;
  border: 1px solid #007aa8;
  padding: 5px;
  border-radius: 7px;
}
.select-items {
  position: absolute;
  background-color: #007aa8;
  top: 89%;
  left: 0;
  right: 0;
  z-index: 99;
  border-radius: 7px;
  margin: 4px 0px;
}
.select-hide {
  display: none;
}
.submitForm {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ffffff;
  border-radius: 7px;
  cursor: pointer;
  color: #007aa8;
  font-size: 0.9em;
  padding: 0.5em 0.8em;
  text-decoration: none;
  border: 1px solid #007aa8;
  width: 100%;
}
.submitForm:hover {
  color: #fff;
  background-color: #007aa8;
  border-color: #007aa8;
}
.show-more {
  background-color: #007aa8;
  color: #fff;

  &:hover {
    background-color: #ffffff;
    color: #007aa8;
  }
}
