<div class="segments load">
  <div [ngClass]="innerContainerClass">
    <!-- Top space-->
    <div *ngIf="hasTopSpace" class="empty"></div>
    <div *ngIf="hasSmallTopSpace" class="empty"></div>

    <!-- Bot avatar-->
    <div class="botSummary" *ngIf="hasBotAvatar && cancelForm === false">
      <img src="./assets/aramco.png" width="50px" height="50px" />
    </div>

    <!-- Discovery results (Longtail) -->
    <ng-template [ngIf]="message.discoveryResults">
      <div class="message-inner-v2" *ngIf="!message.discoveryResults.length">
        <p>{{ "discovery.no_results" | translate }}</p>
      </div>
      <div class="longtailResults" *ngIf="message.discoveryResults.length > 0">
        <div class="longtailCard message-inner-v2">
          <p class="summaryText">
            {{
              (message.discoveryResults.length > 1
                ? "discovery.more_results"
                : "discovery.one_result"
              ) | translate
            }}
          </p>
        </div>
        <app-discovery-result
          *ngFor="let result of message.discoveryResults"
          [result]="result"
        ></app-discovery-result>
      </div>
    </ng-template>

    <!-- Text message -->
    <div class="message-inner-v2" *ngIf="message.text">
      <!-- Message -->
      <p
        [ngClass]="message.feedback ? 'singleResponseFeedback' : ''"
        [innerHTML]="message.text"
      ></p>

      <!-- Feedback -->
      <app-feedback
        *ngIf="message.feedback"
        (send)="feedbackSent = true"
        (contentChanged)="feedbackSentHandler()"
      ></app-feedback>
    </div>

    <!--  Quick reply buttons -->
    <div class="buttonsChat" *ngIf="message.quickReplies">
      <ng-container
        *ngFor="
          let quickReply of message.quickReplies | slice: 0:show;
          let i = index
        "
      >
        <button
          *ngIf="i < show"
          class="multioption"
          (click)="onQuickReply($event, quickReply)"
          [value]="quickReply.payload"
          [ngClass]="{ disabled: optionSelected }"
          [disabled]="optionSelected"
        >
          {{ quickReply.title }}
        </button>
      </ng-container>
      <button
        *ngIf="message.quickReplies.length > 5 && show == 5"
        class="multioption show-more"
        (click)="show = message.quickReplies.length; contentChanged.emit(100)"
        translate
        [ngClass]="{ disabled: optionSelected }"
        [disabled]="optionSelected"
      >
        quickReplies.showMore
      </button>
    </div>

    <!-- Feedback given chat bubble -->
    <ng-template [ngIf]="feedbackSent">
      <div class="empty"></div>
      <div class="message-inner-v2 feedbackResponse">
        {{ "feedback.response" | translate }}
      </div>
    </ng-template>
  </div>
  <!-- VPN form  -->
  <ng-template [ngIf]="message.display_form && cancelForm === false">
    <div class="from-watson latest top">
      <div class="message-inner-v2" style="min-width: 50%">
        <app-form-builder
          [title]="'Full Corporate VPN access'"
          [fields]="message.formBody"
          [serviceID]="message.serviceID"
          (formCanceled)="handleCancelForm($event)"
        ></app-form-builder>
      </div>
    </div>
  </ng-template>
</div>
