<div class="longTextBox">
  <!-- Header & Subtitle -->
  <div class="longTextBoxHeader">
    <div class="longTextBoxWrapper">
      <div class="longTextBoxTitle">{{ result.title }}</div>
      <div class="longTextBoxSubtitle" *ngIf="result.page">
        Pg. {{result.page}} of
        <a class="boxLink" target="_blank" [href]="result.sourceUrl">
          {{result.document}}
        </a>
        &nbsp;
        <a href="#" (click)="viewPassage()" *ngIf="result.passage" class="boxLink vpassage">View Passage</a>
      </div>
    </div>
  </div>

  <!-- Text-Body -->
  <div
    class="longTextBoxBody"
    [ngClass]="{ toggleParagraph: !isCollapsed }"
    [innerHTML]="result.body"
    ></div>
    <div class="boxLinkWrapper" *ngIf="isLongText">
    <a class="boxLink" tabindex="0" (click)="toggleCollapse($event)">
      {{ (isCollapsed ? "discovery.show_more" : "discovery.show_less") | translate }}
    </a>
  </div>

  <!-- Feedback -->
  <app-feedback
    [answerId]="result.id"
    (send)="feedbackSent = true"
  ></app-feedback>
</div>

<!-- Feedback given chat bubble -->
<ng-template [ngIf]="feedbackSent">
  <div class="empty"></div>
  <div class="message-inner-v2 feedbackResponse">
    {{ "feedback.response" | translate }}
  </div>
</ng-template>
