<form
  (ngSubmit)="onSubmitForm(requestForm)"
  #requestForm="ngForm"
  class="request-form"
>
  <span class="submitForm cancel" (click)="onCancelForm()">Cancel</span>
  <!-- <p>{{ title }}</p> -->
  <ng-container *ngIf="localFields && localFields && localFields.fields">
    <ng-container *ngFor="let field of localFields.fields">
      <ng-container
        *ngIf="field.props.visible != 'false'"
        (change)="messageDescription(field)"
      >
        <ng-container *ngIf="field.props.screenType === 'Single Select'">
          <div class="form-group">
            <label for="">{{ field.props.label }}</label>
            <select
              [required]="field.props.required === 'true'"
              [(ngModel)]="field.props.value"
              [name]="field.fieldId"
              #{{field.fieldId}}="ngModel"
              [id]="field.fieldId"
              [disabled]="field.props.readOnly === 'true' ? true : undefined"
              (ngModelChange)="hanldeCondition($event, field.fieldId)"
            >
              <option ngValue="">- Choose an option:</option>
              <option
                *ngFor="let option of field.props.domain"
                [ngValue]="option.value"
              >
                {{ option.description }}
              </option>
            </select>

            <div
              class="feedback-invalid"
              *ngIf="
                field.props.required === 'true' &&
                requestForm.invalid &&
                requestForm.submitted
              "
            >
              <p>{{ field.props.label }} field is required</p>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="field.props.screenType === 'Long Text'">
          <div class="form-group">
            <label [for]="field.fieldId" hidden>{{ field.props.label }}</label>
            <textarea
              type="text"
              [placeholder]="field.props.label"
              [id]="field.fieldId"
              [maxLength]="field.props.length"
              [required]="field.props.required === 'true'"
              rows="8"
              #{{field.fieldId}}="ngModel"
              [name]="field.fieldId"
              [(ngModel)]="field.props.value"
              [disabled]="field.props.readOnly === 'true' ? true : undefined"
            ></textarea>
            <div
              class="feedback-invalid"
              *ngIf="
                field.props.required === 'true' &&
                requestForm.invalid &&
                requestForm.submitted
              "
            >
              <p>{{ field.props.label }} field is required</p>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="field.props.screenType === 'Short Text'">
          <div class="form-group">
            <label [for]="field.fieldId">{{ field.props.label }}</label>
            <input
              type="text"
              [placeholder]="field.props.label"
              [id]="field.fieldId"
              [maxLength]="field.props.length"
              [required]="field.props.required === 'true'"
              #{{field.fieldId}}="ngModel"
              [name]="field.fieldId"
              [(ngModel)]="field.props.value"
              [disabled]="field.props.readOnly === 'true' ? true : undefined"
            />
            <div
              class="feedback-invalid"
              *ngIf="
                field.props.required === 'true' &&
                requestForm.invalid &&
                requestForm.submitted
              "
            >
              <p>{{ field.props.label }} field is required</p>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="field.props.screenType === 'ITlocation'">
          <div class="form-group autocomplete">
            <label [for]="field.fieldId">{{ field.props.label }}</label>
            <ng-autocomplete
              [placeholder]="field.props.label"
              [id]="field.fieldId"
              [required]="field.props.required === 'true'"
              #{{field.fieldId}}="ngModel"
              [name]="field.fieldId"
              [(ngModel)]="field.props.value"
              [disabled]="field.props.readOnly === 'true' ? true : undefined"
              [data]="locations"
              [searchKeyword]="'city'"
              [initialValue]="field.props.value"
              (selected)="handleLocations($event, field.fieldId)"
              [itemTemplate]="itemTemplate"
              [notFoundTemplate]="notFoundTemplate"
            >
            </ng-autocomplete>

            <ng-template #itemTemplate let-item>
              <a class="mr" [innerHTML]="item.city"></a>
            </ng-template>

            <ng-template #notFoundTemplate let-notFound>
              <div [innerHTML]="notFound"></div>
            </ng-template>
            <div
              class="feedback-invalid"
              *ngIf="
                field.props.required === 'true' &&
                requestForm.invalid &&
                requestForm.submitted
              "
            >
              <p>{{ field.props.label }} field is required</p>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="field.props.screenType === 'ITlocation_extra'">
          <div class="form-group">
            <label [for]="field.fieldId">{{ field.props.label }}</label>
            <input
              type="text"
              type="text"
              [placeholder]="field.props.label"
              [id]="field.fieldId"
              [required]="field.props.required === 'true'"
              #{{field.fieldId}}="ngModel"
              [name]="field.fieldId"
              [(ngModel)]="field.props.value"
              [disabled]="field.props.readOnly === 'true' ? true : undefined"
            />
          </div>
        </ng-container>
        <ng-container *ngIf="field.props.screenType === 'TLlocation'">
          <div class="form-group">
            <label [for]="field.fieldId">{{ field.props.label }}</label>
            <input
              type="text"
              list="optionsList"
              type="text"
              [placeholder]="field.props.label"
              [id]="field.fieldId"
              [required]="field.props.required === 'true'"
              #{{field.fieldId}}="ngModel"
              [name]="field.fieldId"
              [(ngModel)]="field.props.value"
              [disabled]="field.props.readOnly === 'true' ? true : undefined"
            />
            <datalist id="optionsList">
              <option *ngFor="let item of locations">
                {{ item.building }}
              </option>
            </datalist>
            <div
              class="feedback-invalid"
              *ngIf="
                field.props.required === 'true' &&
                requestForm.invalid &&
                requestForm.submitted
              "
            >
              <p>{{ field.props.label }} field is required</p>
            </div>
          </div>
        </ng-container>

        <ng-container
          *ngIf="field.props.screenType === 'Message' && field.props.value"
        >
          <h2>
            {{ messageDescription(field) }}
          </h2>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>

  <input class="submitForm" type="submit" value="Submit" />
</form>
