.request-form {
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10px;
  }
  .form-group {
    margin-bottom: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 49%;
    margin: 0px 5px;
  }
  select {
    background: #007aa8;
    color: #fff;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
  }
  textarea {
    resize: none;
    border: 1px solid #007aa8;
    width: 100%;
    box-sizing: border-box;
    padding: 5px 5px;
    font-family: inherit;
    border-radius: 7px;
    margin-bottom: 10px;
  }
  input {
    border: 1px solid #007aa8;
    width: 100%;
    box-sizing: border-box;
    padding: 5px 5px;
    font-family: inherit;
    border-radius: 5px;
    margin-bottom: 10px;
    height: 35px;
  }
  label {
    font-weight: bold;
  }
  .submitForm {
    background-color: #ffffff;
    border-radius: 7px;
    cursor: pointer;
    color: #007aa8;
    font-size: 0.9em;
    padding: 0.5em 0.8em;
    text-decoration: none;
    border: 1px solid #007aa8;
    width: 100%;
    &.cancel {
      width: auto;
      float: right;
    }
  }
  .submitForm:hover {
    color: #fff;
    background-color: #007aa8;
    border-color: #007aa8;
  }
}
.feedback-invalid {
  color: red;
}
.overlay-disabled {
  position: absolute;
  background-color: white;
  top: 0;
  bottom: 0;
}
.warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  margin-top: 10px;

  span {
    margin-right: 4px;
  }
}
