$fontStack: Arial, Helvetica, sans-serif;

$fontStack_italic: Arial, Helvetica, sans-serif;
$fontStack_bold: Arial, Helvetica, sans-serif;

// Color range
$mainFontColor: #007aa8;
$darkRed: #004b76;
// $lightRed: rgba(223, 52, 121, 0.2);
// $midRed: rgb(223,50,120,0.5);

//longtail Card
$backgroundLongtailCard: #ffffff;
$borderLongtailCard: #004b76;
$titleLongtailCard: #000000;

$blue: rgb(0, 119, 182);
$darkBlue: #004f80;
$midGray: #bfc1c2;
// General Colors
$mainGray: #737272;
$mainGrayLight: #e6e6e6;
$generalChatBackground: #dddddd;
$white: #ffffff;

// Toolbar
$toolBarBackgroundColor: $white;
$toolBarFontColor: #000000;
$toolBarBorderBottom: rgba(77, 76, 76, 0.2);

// Chat
$chatBackgroundColor: $generalChatBackground;

// Chat => User main input
$inputBarBackgroundColor: $generalChatBackground;
$inputBarFieldColor: $white;
$inputBarSendButtonBackGroundColor: $white;
$inputBarSendButtonFontColor: #000000;
// Chat => User bubble
$userChatBackgroundColor: #00a3e0;
$userChatBorderColor: #00a3e0;
$userChatFontColor: $white;
// Chat => Bot bubble
$botIconBackgroundColor: #9e9ea1;
$botIconFontColor: $white;

$botChatBackgroundColor: #ffffff;
$botChatBorderColor: rgb(87, 97, 100);

// Feedback
$thumbColor: $mainGray;
$thumbUpColorActive: $mainFontColor;
$thumbUpColorHover: $mainFontColor;
$thumbDownColorActive: $mainFontColor;
$thumbDownColorHover: $mainFontColor;
$feedbackBorderColor: #999999;
$negativeTitleColor: $mainFontColor;

//Feedback Input
$feedbackInputBackgroundColor: #e6e6e6;
$feedbackSendButtonBackgroundColor: $blue;
$feedbackSendButtonColor: $darkRed;

// Small Feedback Icons
$smallThumbsFontColor: $mainGray;
$bigThumbsFontColor: $mainGray;

// Multioption Feedback Buttons
$multiButtonBackgroundColor: $blue;
$multiButtonFontColor: $mainFontColor;

//Links
$linkColor: $darkRed;
$blueLinkColor: $darkRed;

// Long Text
$longTextBackgroundColor: $white;

// Typing Indicator

$typingBackground: #9e9ea1;
$typingDots: #e6e7ed;

.logoCompanyFullscreen {
  position: absolute;
  right: 9em;
  top: 1.5em;
  width: 10em;
  background: $white;
  padding: 0.5em;
  z-index: 99;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.05);
}

.logoCompanyFullscreen img {
  width: 10em;
}

@media only screen and (max-width: 700px) {
  .logoCompanyFullscreen {
    display: none;
  }
}
