body {
  font: 100% $fontStack;
  color: $mainFontColor;
  line-height: 1.4em;
  font-weight: 300;
  font-size: 1em;
}

b {
  font-weight: bold;
}

a {
  color: $linkColor;
  text-decoration: underline;
}

ul {
  list-style: disc;
  margin-left: 2em;
}

.pageContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.toolBar {
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  color: $toolBarFontColor;
  background: $toolBarBackgroundColor;
  font-size: 1em;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 2px solid $white;
}

.header {
  display: flex;
  align-items: baseline;
}

.headline {
  margin-right: 0.2em;
  font-weight: bold;
}

.minilogo {
  height: 20px;
  width: 30px;
  float: left;
  margin-right: 7px;
}

.skip-link {
  text-decoration: none;
  color: $toolBarFontColor;
}

.printButton {
  margin-left: 1.2em;
  margin-right: 95px;
  cursor: pointer;
}

.chat {
  flex-grow: 1;
  overflow: auto;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  color: #111314;
  // background-color: $chatBackgroundColor;
}

.interactionBar {
  display: flex;
  padding: 0.5em;
  // background: $chatBackgroundColor;
}

.inputSection {
  flex-shrink: 0;
  flex-grow: 1;
  display: flex;
  height: 2.7em;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.questionInput {
  flex: auto;
}

.questionInput input {
  font-family: $fontStack;
  height: 100%;
  width: 100%;
  text-indent: 1em;
  background: $inputBarFieldColor;
  border: none;
  font-size: 0.8em;
  /* font-weight: 100;  */
  border-radius: 10px 0px 0px 10px;
  border: 1px solid #9e9ea1;
  border-right: 0px solid;
}
.questionInput input::placeholder {
}

.questionInput input:focus {
  outline: none !important;
}

.sendQuestionButton {
  background: $inputBarSendButtonBackGroundColor;
  color: $inputBarSendButtonFontColor;
  /* padding-left: 1em; */
  cursor: pointer;
  width: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 10px 10px 0px;
  border: 1px solid #9e9ea1;
  border-left: 0px solid;
}
.green_dot {
  height: 8px;
  width: 8px;
  background-color: #7ed321;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  right: -3px;
  top: -1px;
}

.sendQuestionArrow {
  background: #ffffff;
  color: #000000;
  cursor: pointer;
  width: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}
.request-form {
  .ng-autocomplete {
    width: auto;
  }
  .autocomplete-container {
    box-shadow: none;
    .input-container {
      input {
        border: 1px solid #007aa8;
        width: 100%;
        box-sizing: border-box;
        padding: 5px 5px;
        font-family: inherit;
        border-radius: 5px;
        height: 35px;
        box-shadow: none;
      }
    }
  }
}
