#disclaimerConsent {
  background-color: rgba(20, 20, 20, 0.8);
  font-size: 0.9em;
  color: $white;
  text-align: justify;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3em;
  line-height: 1.5em;
  display: none;
  z-index: 9999;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
}

#disclaimerConsent a.buttonOK {
  margin-top: 1em;
  background-color: $white;
  color: $mainFontColor;
  text-decoration: none;
  display: inline-block;
  border-radius: 0.2em;
  padding: 0.5em 1em;
  cursor: pointer;
  float: right;
}

a.linkInside {
  color: #ffffff;
  text-decoration: underline;
}

@media only screen and (max-device-width : 640px) {
  #disclaimerConsent {
    font-size: 0.8em;
    padding: 1em;
  }
}