.botSummary {
  width: 3em;
  height: 3em;
  margin-bottom: 0em;
  color: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}

.botSummary img {
  align-self: center;
}

.empty {
  padding: 5px;
}

.message-inner-v2 {
  padding: 0.5rem;
}

.message-inner-v2 img {
  margin-top: 1em;
  width: 100%;
}

.from-watson .message-inner-v2 {
  position: relative;
  font-size: 0.9em;
  // margin-top: -1em;
  margin-left: 1.7em;
  margin-bottom: -0.2em;
  border-radius: 11px;
  border: white solid 1px;
  background: white;
  border-radius: 10px;
  align-self: flex-start;
}

.from-watson .message-inner-v2:after {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: #ffffff transparent;
  display: block;
  width: 0;
  z-index: 1;
  border-width: 10px 0 0 10px;
  left: -8px;
  top: 5px;
}

.from-user,
.from-watson {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
}

.from-user .message-inner-v2 {
  position: relative;
  margin-right: 0.5em;
  color: $userChatFontColor;
  background: $userChatBackgroundColor;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: $userChatBorderColor solid 1px;
  text-align: left;
  align-self: flex-end;
  min-width: 30px;
  display: inline-block;
  padding: 5px;
  word-break: break-all;
  margin-bottom: 0.8em;
  
}

.from-user .message-inner-v2:after {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: $userChatBackgroundColor transparent;
  display: block;
  width: 0;
  z-index: 1;
  border-width: 0 10px 10px 0;
  right: -6px;
  bottom: 12px;
}

.from-user .message-inner-v2:before {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: $userChatBorderColor transparent;
  display: block;
  width: 0;
  z-index: 0;
  border-width: 0 10px 10px 0;
  right: -11px;
  bottom: 10px;
}

.feedback-div {
  padding: 0.5em;
  color: $smallThumbsFontColor;
  font-size: 0.85em;
  display: flex;
  align-items: baseline;
}

.thumbs-menu {
  display: flex;
  width: 4em;
  justify-content: space-around;
  margin-left: 1em;
}

.thumbsup-img-div:hover {
  color: $thumbUpColorHover;
}

.thumbsdown-img-div:hover {
  color: $thumbDownColorHover;
}

.buttonsChat {
  display: flex;
  // justify-content: space-evenly;
  flex-direction: column;
  margin-top: 1em;
}

@media only screen and (max-width: 700px) {
  .buttonsChat {
    flex-direction: column;
  }

  button.multioption {
    margin: 0 1em 1em 1em;
  }
}

.multioption {
  font-family: $fontStack;
  background-color: $white;
  border-radius: 7px;
  display: inline-block;
  cursor: pointer;
  color: $multiButtonFontColor;
  font-size: 0.9em;
  padding: 0.5em 0.8em;
  text-decoration: none;
  margin: 2px 0px 2px 23px;
  // -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
  // -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
  // box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
  border: 1px solid $mainFontColor;

  &.disabled {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(255, 255, 255, 0.565);
    display: inline-block;
    cursor: default;
    color: rgb(68, 69, 70);
    border-radius: 7px;
    padding: 0.5em 0.8em;
    text-decoration: none;
    margin: 0px 1em;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(190, 201, 205, 0.804);
    border-image: initial;

    &:hover {
      color: rgb(68, 69, 70);
      background-color: rgba(255, 255, 255, 0.565);
      border-color: rgba(190, 201, 205, 0.804);
    }
    &:focus {
      outline: none;
    }
  }
}

.multioption:hover {
  color: #fff;
  background-color: #007aa8;
  border-color: #007aa8;
}

.singleResponseFeedback {
  padding-bottom: 1.3em;
}
.warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  margin-top: 10px;

  span {
    margin-right: 4px;
  }
}
