.negativeFeedbackBox{
    margin-top: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 1em;
}
.hidden{
    display: none;
}
.negativeTitle{
    font-weight: 450;
    font-size: 0.9em;
}
.checkBoxes{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    display: flex;
    flex-direction: column;
}
.checkBoxes label{
    display: flex;
    align-items: center;
    line-height: 1.6em;
    font-size: 0.9em;
}
.checkBoxes input{
    margin-right: 0.5em;
}
.negativeFeedbackInput{
    display: flex;
    height: 3em;
}
.inputField{
    flex: auto;
}
.inputField input{
    height: 100%;
    width: 100%;
    background: $feedbackInputBackgroundColor;
    border: none;
    text-indent: 1.3em;
    font-size: 0.9em;
    font-weight: 100;
    border-radius: 10px 0px 0px 10px;
}
.inputField input:focus { 
    outline: none !important;
}
.sendButton{
    padding: 0.5em 0.65em;
    background: $mainFontColor;
    color: $white;
    padding-left: 1em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 10px 10px 0px;
    width: 5em;
    padding: 0;
    height: 3.5em;
    font-size: 0.9em;
    border: none;
    &:disabled{
        cursor: not-allowed;
        background: $white;
        color: $mainFontColor;
        border: 1px solid $mainFontColor;
    }
}
.feedbackResponse{
    margin-left: 2em;
}
.feedbackIcons{
    color: $bigThumbsFontColor;
    display: flex;
    align-items: baseline;
    font-size: 0.9em;
    // border-top: 1px solid $feedbackBorderColor;
    // margin-top: 0.5em;
    // padding-top: 0.6em;
}
.feedback{
    cursor: pointer;
    font-size: 1.5em;
}
.upFeedback{
    margin-right: 0.5em;
    margin-left: 0.5em;
}
.upFeedback:hover{
    color: $thumbUpColorHover;
}
.downFeedback:hover{
    color: $thumbDownColorHover;
}
.upFeedback.clicked{
    color: $thumbUpColorActive;
}
.downFeedback.clicked{
    color: $thumbDownColorActive;
}
.remedy_ticket {
    display: flex;
    flex-direction: column;
    
    hr{
        margin: 1.5em 0;
        border-bottom: 1px solid;
    }
    
    p{
        margin-bottom: 1.5em;
    }
    
  &_button {
    font-size: 0.9em;
    font-family: $fontStack;
    background-color: $white;
    border-radius: 7px;
    display: inline-block;
    cursor: pointer;
    color: $multiButtonFontColor;
    padding: 0.5em 0.8em;
    text-decoration: none;
    //margin: 2px 0px 2px 23px;
    border: 1px solid $mainFontColor;

    &:hover {
      color: #fff;
      background-color: #007aa8;
      border-color: #007aa8;
    }
  }
}