.longtailResults {
    display: flex;
    flex-direction: column;
}

.longTextBox {
    margin-left: 0.5em;
    position: relative;
    margin-top: 0.5em;
    padding: 0.5em;
    background: $backgroundLongtailCard;
    border-radius: 11px;
    border: $borderLongtailCard solid 1px;
}

.longTextBoxBody {
    margin-top: 1em;
    font-size: 0.9em;
    white-space: break-spaces;
    overflow: hidden;
    margin-bottom: 10px;
    line-height: 1.5em;
    height: 3em;
}

.longTextBoxBody img {
    max-width: 100%;
    max-height: 100%;
}

.longTextBoxBody em {
  background-color: #bcf1f5;
  color: black;
  font-style: normal;
}

.longTextBoxBody.toggleParagraph {
    white-space: normal;
    height: 100%;
    line-height: 1.5em;
}

.longTextBoxHeader {
    display: flex;
    font-size: 0.9em;
}

.longTextBoxWrapper {
    flex: auto;
}

.longTextBoxTitle {
    font-family: $fontStack_bold;
    font-weight: bold;
    color: $titleLongtailCard;
}

.longTextBoxSubtitle {
    font-family: $fontStack_italic;
    color: $mainGray;
    margin-top: 0.3em;
    font-size: 0.9em;
}


.boxLink {
    color: $blueLinkColor;
    cursor: pointer;
    font-size: 0.9em;
}

.boxLinkWrapper {
    text-align: right;
    padding-right: 1em;
}