@use 'base';


#typing-indicator {
  $ti-color-bg: $typingDots;
  background-color: $ti-color-bg;
  width: auto;
  border-radius: 50px;
  padding: 8px;
  display: table;
  margin-left: 10px;
  margin-top: 10px;
  position: relative;
  animation: 2s bulge infinite ease-out;

  span {
    height: 8px;
    width: 8px;
    float: left;
    margin: 0 1px;
    background-color: $typingBackground;
    display: block;
    border-radius: 50%;
    opacity: 0.4;
    @for $i from 1 through 3 {
      &:nth-of-type(#{$i}) {
        animation: 1s blink infinite ($i * .3333s);
      }
    }
  }
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}

@keyframes bulge {
  50% {
    transform: scale(1.05);
  }
}

.load .message-inner {
  opacity: 1;
  margin-top: 0.3125rem;
}
