<!-- Feedback icons: thumbs up + down -->
<div class="feedbackIcons">
  <div>{{ "feedback.prompt" | translate }}</div>
  <div
    class="feedback upFeedback"
    [ngClass]="{ clicked: clickedThumbsUp }"
    (click)="onThumbsUp()"
  >
    <fa-icon tabindex="0" alt="positive feedback" [icon]="faThumbsUp"></fa-icon>
  </div>
  <div
    class="feedback downFeedback"
    [ngClass]="{ clicked: clickedThumbsDown }"
    (click)="onThumbsDown()"
  >
    <fa-icon
      tabindex="0"
      alt="negative feedback"
      [icon]="faThumbsDown"
    ></fa-icon>
  </div>
</div>

<!-- Negative feedback box -->
<div class="negativeFeedbackBox" *ngIf="showNegativeFeedbackBox">
  <div class="negativeTitle">
    {{ "feedback.negative.title" | translate }}
  </div>

  <!-- Checkboxes -->
  <div class="checkBoxes">
    <label *ngFor="let checkbox of details.checkboxes">
      <input
        type="radio"
        name="negative-reason"
        [checked]="checkbox.checked"
        [value]="checkbox.value"
        (change)="onCheckboxChange($event, checkbox)"
      />
      <div>{{ checkbox.label }}</div>
    </label>
  </div>

  <!-- Other reason text box + send button -->
  <div class="negativeFeedbackInput">
    <div class="inputField">
      <input
        type="text"
        [placeholder]="'feedback.negative.reason' | translate"
        [value]="details.other_reason"
        [(ngModel)]="details.other_reason"
        (change)="onOtherReasonChange($event)"
        (keyup)="handleEnter($event)"
      />
    </div>
    <button (click)="onSendNegative()" class="sendButton" [disabled]="!details.other_reason.length && !checkboxChecked" translate>
      {{ "feedback.negative.button" | translate }}
    </button>
  </div>
  <div class="remedy_ticket " *ngIf="showRemedyTicket">
    <hr>
    <p translate> {{ "feedback.remedy.title"}} </p>
    <button
        *ngIf="showNegativeFeedbackBox"
        class="remedy_ticket_button"
        (click)="ticketRequest($event)"
        translate
      >
      {{ "feedback.remedy.button" | translate }}
    </button>
  </div>
</div>
