.upFeedback:hover {
  color: #7ac925;
}
.downFeedback:hover {
  color: #d33321;
}
.upFeedback.clicked {
  color: #7ac925;
}

.downFeedback.clicked {
  color: #d33321;
}
.ng-fa-icon {
  &:focus {
    outline: none;
  }
}